h3 code {
    color: #fabd2f ;
    font-family: Verdana, Geneva, sans-serif ;
    font-weight: normal ;
    font-style: normal ;
    text-align: left ;
    font-size: 14pt ;
}

pre {
    font-size: 14pt ;
}

code {
    color: #8ec07c ;
    font-style: italic ;
    font-size: 12pt ;
}

span.apii {
    color: gray ;
    float: right ;
    font-family: inherit ;
    font-style: normal ;
    font-size: small ;
}

h2:before {
    content: "" ;
    padding-right: 0em ;
}
