if (__POSIX) {
    assert(typeof(__POSIX) == "number");
    assert(__DLOPEN == true);
    assert(__WINDOWS == nil and __DLL == nil);
} else if (__WINDOWS) {
    assert(typeof(__WINDOWS) == "number");
    assert(__DLL == true);
    assert(__POSIX == nil and __DLOPEN == nil);
} else
    assert(__POSIX == nil and __DLOPEN == nil and __WINDOWS == nil and __DLL == nil);
