local func, err = loadfile("test/libs/basic/loadfile_script");
assert(!err);
assert(func);
assert(typeof(func) == "function");
assert(!a);
assert(!b);
assert(!c);
func();
assert(a == 69);
assert(b == 420);
assert(c == 1337);

#func, err = loadfile();     # uncomment to read the func from stdin

func, err = loadfile("test/libs/basic/loadfile_script_error");
assert(err);
assert(typeof(err) == "string");
assert(!func);
