local s = "Hello";
assert(string.byte(s, 0) == 'H');
assert(string.byte(s, 1) == 'e');
assert(string.byte(s, 2) == 'l');
assert(string.byte(s, 3) == 'l');
assert(string.byte(s, 4) == 'o');
assert(string.byte(s, 5) == nil);
assert(string.byte(s, -1) == 'o');
assert(string.byte(s, -2) == 'l');
assert(string.byte(s, -3) == 'l');
assert(string.byte(s, -4) == 'e');
assert(string.byte(s, -5) == 'H');
assert(string.byte(s, -6) == 'H');
